<%- include('../partials/header') %>

<div class="container">
    <h3><%= item.articleName %></h3>
    <img src="<%= item.image %>" class="img-fluid img-head">
    <p>Topic: <%= item.topic %></p>
    <p><%= item.description %></p>
    <hr>
</div>

<%- include('../partials/footer') %>